pkgbase = exercism
	pkgdesc = Command line tool for exercism.io
	pkgver = 3.4.1
	pkgrel = 1
	url = https://github.com/exercism/cli
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/exercism/cli/archive/v3.4.1.tar.gz
	sha256sums = da68ad169e23d48e2372b73891752d1cf1bf333fd82c9a4206abd05374233999

pkgname = exercism
