pkgbase = exercism
	pkgdesc = Command line tool for exercism.io
	pkgver = 3.5.7
	pkgrel = 2
	url = https://github.com/exercism/cli
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/exercism/cli/archive/v3.5.7.tar.gz
	sha256sums = dc8f06d9390a8ff11b24b251644287453e73f0f71eb4277f8fb53dca1825140a

pkgname = exercism
