pkgbase = exercism
	pkgdesc = Command line tool for exercism.io
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/exercism/cli
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/exercism/cli/archive/v3.5.0.tar.gz
	sha256sums = 819ac86c397782c8227ae443418c46ce86bfd0bd4ee6c67175102a7e67ba3010

pkgname = exercism
